@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500;600;700;800&family=Pacifico&display=swap');

body{
    background-color: azure;
    background-color: rgb(3, 1, 31);
    background-color: #050410;
    font-family: 'Baloo Bhai 2';
    color:white;
}

/* ====================button===================== */
.button{
    border: 2px solid transparent !important;
    color: white !important;
    font-weight: 600;
    font-size: 1.1rem;
    margin: 21px 12px 21px 0px;
}

.button1{
    background-color: hsla(209, 100%, 50%, 1);
}

.button2{
    color: black !important;
    background-color: hsla(54, 100%, 50%, 1);
}
.button3{
    background-color: hsla(266, 100%, 50%, 1);
}
.button4{
    background-color: hsla(360, 100%, 51%, 1);
}
.button5{
    background-color: hsla(0, 0%, 0%, 1);
}
.button6{
    background-color: hsla(251, 100%, 50%, 1);
}

.button1:hover{
    background-color:hsla(209, 100%, 40%, 1) ;
}

.button2:hover{
    background-color:hsla(54, 100%, 45%, 1);
    color: black;
}
.button3:hover{
    background-color: hsla(266, 100%, 30%, 1);
}
.button4:hover{
    background-color: hsla(360, 100%, 40%, 1);
}
.button5:hover{
    background-color: hsla(0, 0%,6%, 1);
}
.button6:hover{
    background-color: hsla(251, 100%, 40%, 1);

}
.textarea-dark{
    background: #525252 !important;
    color: white !important;
}
.previewpara{
    padding: 1rem;
    border-radius: 12px;
    border: 2px solid transparent ;
    background: #525252 !important;
    color: white !important;
}

@media screen and (max-width:400px) {
    .button{
       margin: 0px  !important;
       margin-top: 21px !important;
    }
    .button2{
        margin:0px 8px !important;
        margin-top: 21px !important;
    }
}